# GPU Grab specific
data/
logs/
gpu-grab.sock

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing / Coverage
.tox/
.coverage
.coverage.*
.cache
htmlcov/
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# System
.DS_Store
Thumbs.db
